<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Obojima Potion Recipe Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Obojima Potion Recipe Finder</h1>
    <h2>Select Ingredients to Generate Potion Recipes</h2>

    <!-- Ingredient selection form -->
    <form id="ingredientForm">
        <div class="ingredient-columns">
            <!-- Common Ingredients Column -->
            <div class="column">
                <h3>Common Ingredients</h3>
                {% for ingredient in common_ingredients %}
                    <input type="checkbox" name="ingredient" value="{{ ingredient['name'] }}">
                    {{ ingredient['name'] }} [{{ ingredient['combat'] }}/{{ ingredient['utility'] }}/{{ ingredient['whimsy'] }}]<br><br>
                {% endfor %}
            </div>

            <!-- Uncommon Ingredients Column -->
            <div class="column">
                <h3>Uncommon Ingredients</h3>
                {% for ingredient in uncommon_ingredients %}
                    <input type="checkbox" name="ingredient" value="{{ ingredient['name'] }}">
                    {{ ingredient['name'] }} [{{ ingredient['combat'] }}/{{ ingredient['utility'] }}/{{ ingredient['whimsy'] }}]<br><br>
                {% endfor %}
            </div>

            <!-- Rare Ingredients Column -->
            <div class="column">
                <h3>Rare Ingredients</h3>
                {% for ingredient in rare_ingredients %}
                    <input type="checkbox" name="ingredient" value="{{ ingredient['name'] }}">
                    {{ ingredient['name'] }} [{{ ingredient['combat'] }}/{{ ingredient['utility'] }}/{{ ingredient['whimsy'] }}]<br><br>
                {% endfor %}
            </div>
        </div>
        
        <button type="button" onclick="findRecipes()">Find Recipes</button>
        <button type="button" onclick="clearSelection()">Clear Selection</button>
    </form>

    <div id="results" class="recipe-columns">
        <!-- Results will be displayed in this section -->
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
